body, p {
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #e8edfe;
}

span {
  color: rgb(63, 81, 181);;
}

a {
  text-decoration: none;
  color: rgb(63, 81, 181);
  transition: color .25s;
}

a:hover {
  color: rgb(159, 168, 218);
}

input {
  padding: 8px !important;
  padding-right: 0 !important;
}

.logo {
  width: 14px;
  margin-left: 3px;
  margin-right: 4px;
}